
    <div class="row">
        <div class="container">
            <div class="logo">
                <img src="../../../assets/logos/AP-logo2.png" alt="" id="logoAP">
    
            </div>
            <div class="redes">
                <a href="https://www.linkedin.com/in/alan-lozano-godoy-b22961162/">
                    <img src="../../../assets/logos/linkedin.png" alt="">
                </a>
                <a href="https://www.facebook.com/alanoscarlozano/">
                    <img src="../../../assets/logos/facebook.png" alt="">
                </a>
                <a href="https://www.instagram.com/alanlozanogodoy/">
                    <img src="../../../assets/logos/instagram.png" alt="">
                </a>
                
    
            </div>
            <button type="button" class="btn btn-outline-light login" (click)="login()" *ngIf="!isLogged" >Ingreso</button>
            <button type="button" class="btn btn-outline-light login" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>

        </div>
    
    </div>

