  <!-- cuarto div - Aptitudes y validaciones -->

  <div class="card mat-card">
    <div class="card-titles">
        <h2>Aptitudes y Validaciones</h2>
        <div class=" up30 d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="#" class="btn-edit btn btn-light"><i class="fa fa-plus"></i></a>
        </div>
        <br>
        <button type="button" class="btn btn-light">añadir una aptitud nueva</button>
        <button type="button" class="btn btn-light">hacer un test de aptitudes</button>
        <!-- <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div> -->
        
    </div>
   

</div>