.btn{
    float: right;
}


h2, h3{
    margin-top: 10px;
}
p{
    margin-top: 10px;
}


.contenedor{
    width: auto;
}
.parte1{
    display: inline-block;
    text-align: justify;
}
.parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 5px 5px 10px #000000;
}