  <!-- quinto div - titulos -->

  <div class="card mat-card">
    <div class="card-titles">
        <h2>Logros</h2>
        <div class=" up30 d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="#" class="btn-edit btn btn-light"><i class="fa fa-plus"></i></a>
        </div>
    </div>

    <h2>Acerca de</h2>

      <div class=" up30 d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="#" class="btn-edit btn btn-light"><i class="fa fa-pen"></i></a>
        <a href="#" class="btn-edit btn btn-light"><i class="fa fa-trash"></i></a>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, beatae.
      </p>

</div>