
<!-- primer div  -->
<div class="card mat-card">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img class="profile-image" src="{{persona.img}}" alt="profile pic">
            
            <button id="edit-profile" type="button" class="btn btn-light"><i class="fa fa-pen"></i></button>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-0 col-lg-0">
            
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
            <div id="info-data">
    
                <h1>
                    <b>{{persona.nombre}} {{persona.apellido}}</b>
                    
                </h1>
                <H2>
                    {{persona.tituloP}}
                </H2>
               
                <h4>
                    <span>{{persona.ubicacion}} - {{persona.pais}}</span><br>
    
                </h4>
            </div>
            
            <br>
            
        </div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <br>
            <ul id="info-details">
               
                <li>
                    
                        <span><a href="https://www.facebook.com/alanoscarlozano/" target="_blank">Información de contacto</a></span>
                    
                </li>
            </ul>
        </div>
        
    </div>

    
</div>
<div class="card mat-card">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h2>Acerca de mí
            </h2>
    
            
        </div>
    
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <p class="text-acercade">
                    {{persona.descripcionP}}<br>
                </p>
            
        </div>
    </div>
</div>

