.btn{
    float: right;
}

ul{
    list-style:none;
}

.fa{
    color: blue;

}
.fa-times{
    color: red;

}
.fa-trash{
    color: red;
}
.fa-plus{
    color:green;
}

.fa:hover{
    color: #0a58ca;
}

.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(0, 0, 128);

}