<section class="vh-100" style="background-color: rgb(20, 69, 143);" *ngIf="educacion">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <button type="button" class="btn btn-light" 
              (click)="onCancel()"
               
                  >
                      <i class="fa fa-times" aria-hidden="true"></i>
              </button>
              
              <p>Por favor, ingresar nombre de la Institución y descripción de su educación</p>

                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="nombreE">Nombre de la Institución</label>
                        <input type="text" id="nombreE" name="nombreE" class="form-control form-control-lg" 
                        [(ngModel)]="educacion.nombreE" required minlength="3" maxlength="60" #name="ngModel"/>
                        <div *ngIf="name.invalid && ( name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.hasError('required')">
                                nombre es requerido
                            </div>
                            <div *ngIf="name.hasError('minlength')">
                              nombre debe tener más de 3 caracteres
                            </div>
                            <div *ngIf="name.hasError('maxlength')">
                              nombre no debe tener más de 60 caracteres
                            </div>
                            
                        </div>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="tituloE">Nombre del Título</label>
                        <input type="text" id="tituloE" name="tituloE" class="form-control form-control-lg" 
                        [(ngModel)]="educacion.tituloE" required minlength="3" maxlength="60" #name1="ngModel"/>
                        <div *ngIf="name1.invalid && ( name1.dirty || name1.touched)" class="alert alert-danger">
                            <div *ngIf="name1.hasError('required')">
                                titulo es requerido
                            </div>
                            <div *ngIf="name1.hasError('minlength')">
                              titulo debe tener más de 3 caracteres
                            </div>
                            <div *ngIf="name1.hasError('maxlength')">
                              titulo no debe tener más de 60 caracteres
                            </div>
                            
                        </div>
                      </div>
          
                      <div class="form-outline mb-4">
                        <label class="form-label" for="descripcionE">Descripción de su educación</label>
                        <textarea class="form-control" id="descripcionE" name="descripcionE" maxilength="1000" rows="4" 
                        [(ngModel)]="educacion.descripcionE" ></textarea>
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" for="inicioE">Año de ingreso</label>
                        <input type="text" id="inicioE" name="inicioE" class="form-control form-control-lg" 
                        [(ngModel)]="educacion.inicioE" required minlength="3" maxlength="4" pattern="[ 0-9 ]*" #name2="ngModel"/>
                        <div *ngIf="name2.invalid && ( name2.dirty || name2.touched)" class="alert alert-danger">
                            <div *ngIf="name2.hasError('required')">
                                año es requerido
                            </div>
                            <div *ngIf="name2.hasError('minlength')">
                              año debe tener más de 3 cifras
                            </div>
                            <div *ngIf="name2.hasError('maxlength')">
                              año no debe tener 4 o menos cifras
                            </div>
                            <div *ngIf="name2.hasError('pattern')">
                              año debe tener números
                            </div>
                        </div>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="finE">Año de salida</label>
                        <input type="text" id="finE" name="finE" class="form-control form-control-lg" 
                        [(ngModel)]="educacion.finE" required minlength="3" maxlength="4" pattern="[ 0-9 ]*" #name3="ngModel"/>
                        <div *ngIf="name3.invalid && ( name3.dirty || name3.touched)" class="alert alert-danger">
                            <div *ngIf="name3.hasError('required')">
                                año es requerido
                            </div>
                            <div *ngIf="name3.hasError('minlength')">
                              año debe tener más de 3 cifras
                            </div>
                            <div *ngIf="name3.hasError('maxlength')">
                              año no debe tener 4 o menos cifras
                            </div>
                            <div *ngIf="name3.hasError('pattern')">
                              año debe tener números
                            </div>
                        </div>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label" for="imgE">Logo de Institución</label>
                        <input type="text" id="imgE" name="imgE" class="form-control form-control-lg" 
                        [(ngModel)]="educacion.imgE" maxlength="255" />
                      </div>
          
                      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!f.form.valid">Actualizar educación</button>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>