<!-- tercer div - Educación -->
<div class="card mat-card">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button  type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged"><i class="fa fa-plus"></i>
            </button>

            <h1>Educación</h1>
            <br>
        </div>

    </div>

        <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-11">
            <ul id="items-list">
                <li *ngFor="let Educacion of educacion">
                    
                    <button type="button" class="btn btn-light" 
                    (click)="delete(Educacion.id)"
                     *ngIf="isLogged"
                        >
                            <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-light"
                    routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged"
                    >
                        <i class="fa fa-pen"></i>
                    </button>
                    <img [src]="Educacion.imgE" alt="logo">

                    <h2>{{Educacion.nombreE}}  </h2> - <h3>( {{Educacion.inicioE}} - {{Educacion.finE}} )</h3>
                    <br>
                    <h3>{{Educacion.tituloE}}</h3>

                    <br>
                    
                    <br>
                    <h4>{{Educacion.descripcionE}}</h4>

                    <br>

                </li>
            </ul>
        </div>
    </div>
</div>
